.NavComponent{
    background-color: rgb(43, 2, 97);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
}

.nav h1{
    padding: 0;
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 70px;
    letter-spacing: 3px;
}

.nav span{
    color: rgb(87, 87, 231);
}